.content-lesson-wrapper {
  margin: 40px 100px 40px 100px;
  display: flex;
  flex-direction: column;
}
.title-wrapper {
  display: flex;
  justify-content: space-around;
  /* height: 30%; */
  margin-top: 40px;
  align-items: center;
  .title span {
    /* Heading */

    width: 261px;
    height: 57px;

    font-family: "Chonburi";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 150%;
    /* Grey/15 */
    color: #262626;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
  }
  .title-description {
    width: 50%;
    span {
      width: 100%;
      height: 144px;
      font-family: "Be Vietnam Pro";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: #59595a;
      flex: none;
      order: 1;
      flex-grow: 0;
    }
  }
}

.lesson-bigthumb {
  display: flex;
  flex-direction: column  ;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  img {
    border-radius: 10px;
    width: 1280px;
    height: 649px;
  }
  .icon-info {
    padding: 10px 40px 10px 40px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 0; 
  }
  
  .icon-info-text {
    display: flex;
    flex-direction: row; 
    align-items: center;    
  }
  
  .icon-info-text span {
    font-size: 18px;
    margin-top: 5px; 
    margin-left: 15px;
    font-family: 'Be Vietnam Pro';
  }
}
.item-card-wrapper {
  width: 100%;
  background-color: white;
  border-radius: 8px;
  margin: 0px 0px 20px 0px;
}
.item-card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 20px;
  .ordinal-number {
    text-align: right;
    span {
      font-size: 3rem;
      font-weight: bolder;
    }
  }
  .item-card-title {
    span {
      font-size: 1.5rem;
    }
  }
}
.story-card-wrapper {
  border-radius: 8px;
  border: 0.1px solid rgb(231, 227, 227);
  padding: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  height: fit-content;
  font-family: "Be Vietnam Pro";
  .story-title{ 
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .title span{ 
    font-weight: bold;
    font-size: large;
  }
}
.enroll-course{ 
  display: flex;
  flex-direction: column ;
  .enroll-course-price{ 
    .enroll-text{ 
      text-align: center;
      span{ 
        font-family: 'Be Vietnam Pro';
        font-size: 32px;
        font-weight: 800;
        color: #FF9500;
      }
    }
    .enroll-button{ 
      background-color: #FF9500;
      color: white;
      font-family: "Be Vietnam Pro";
      font-size: 18px;

    }
  }
}