.footer-details {
    display: flex;
    justify-content: space-around;
}
.footer-details .col { 
    display: flex;
    flex-direction: column;
}
.wrapper {
    display: flex;
    flex-direction: column;
  }
  .user {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    img{ 
        border-radius: 50px;
    }
  }

  .content-and-footer-container {
    display: flex;
    flex-direction: column;  /* Stack content vertically */
    min-height: 100vh;        /* Ensure container takes up full viewport height */
  }
  